*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
section .center {
    max-height: 1400px;
    padding: 400px;
    background-image: url(img/fd.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

