* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
    background: url(/web-site/img/fd.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main {
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}

.menu header .logo h1 a {
    display: block;
    font-size: 32px;
    font-weight: none600;
    text-decoration: none;
    color: white;
}

.menu header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
    border-bottom: 2px solid white;
}

nav ul li.active a {
    border-bottom: 2px solid white;
}

nav ul li.btn a {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.card {
    flex-wrap: wrap;
    min-width: 800px;
    height: 400px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    line-height: 90px;
    border: 1px solid rgb(4, 184, 255);
    background: rgba(44, 44, 44, 0.438);
    color: white;
}

iframe{
    background: url(/web-site/web-food/img/home.png);
   background-size: contain;
    
}
.button a{
   padding: 15px 30px;
   background: transparent;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
 
}