 body, li, p{
    
   list-style: none;
   font-size: 1.2rem;
   padding: auto;
   margin: auto;
 

    width: 100%;
    margin: auto;
    background: url(img/fd.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: black;

    font-family: sans-serif;
    color: white;
}

a{

    list-style: none;
    color: rgb(255, 255, 255);
}

.h1{
    
}


img{
    max-width: 30%;
    display: table-footer-group;
}

