* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace sans-serif;
    color: white;
}


body {
    background-image: url(/web-project/to-do-list/img/cp.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
   background-color: rgb(209, 201, 201);
}

img {
    max-width: 100vh;
    display: block;
    flex: 1;
}