* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    background: linear-gradient(green, blue);
    background-attachment: fixed;
    background-size: cover;
}

/*flex-item row*/

.container {
    display: flex;
    flex-wrap: wrap;
}

.items {
    display: flex;
    border: 1px solid white;
}

.item {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    margin: 15px;
    background: rgb(0, 162, 255);
}

/*flex-item row-reverse*/

.container-2 {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.items-2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border: 1px solid white;
}

.item-2 {
    width: 100px;
    height: 100px;
    margin: 15px;
    background: orange;
    line-height: 90px;
    text-align: center;

}

/*flex-item column*/

.container-3 {
    display: flex;
    flex-wrap: wrap;
}

.items-3 {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.item-3 {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    background: red;
}

/*flex-item column-reverse*/

.container-4 {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;

}

.items-4 {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid white;
}

.item-4 {
    width: 100px;
    height: 100px;
    margin: 15px;
    text-align: center;
    line-height: 90px;
    background: pink;
}

/*flex-item wrap*/
.container-5{
    display: flex;
    max-width: 500px;
}

.items-5{
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid white;
}

.item-5{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    background: rebeccapurple;
}

/*flex-item wrap*/

.container-6 {
    display: flex;
    flex-wrap: wrap;
}

.items-6{
    display: flex;
    border: 1px solid white;

}

.item-6 {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    background: rgb(0, 162, 255);
}
.flex{
    width: 400px;
    height: 300px;
    background: #ccc;
    display: flex;
    margin: 0 auto;
}
.flex1{
    width: 400px;
    height: 300px;
    background: #ccc;
    display: flex;
    float: left;
}

.flex2{
    width: 400px;
    height: 300px;
    background: #ccc;
    display: flex;
    float: right;

}
.flex3{

    width: 800px;
    height: 400px;
    display: flex;
    background: #ccc;
}
