
//Fonts
$font-f: 'Poppins', sans-serif;
$font-subtitle: 16px;
$font-text: 1.4rem;
$font-title: 2.4rem;

//Colors
$bg-color: #2b2a2a;
$bg-card: #0000000a;
$bg-body: radial-gradient(rgb(9, 123, 216), 10rem, black);

$color-text: #ffffff;
$color-title: #00ebfc;
$color-icons:#ffffffd9;
$color-icon: #00ccff;



