* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}





body{
  
    background:linear-gradient(rgb(119, 0, 255),10rem, white);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}

/*menu bar*/
.main{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    position: relative;
}
header .logo a{
   display: block;
   font-size: 100px;
   font-weight: 600;
   color: aqua;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    flex-wrap: wrap;
}

nav ul li a{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 100;
    border-bottom: 1px solid transparent;
    color: white;
    transition: .4s;
}